argcomplete==1.10.0
argh==0.26.1
astroid==2.3.3
beautifulsoup4==4.8.2
blivet==3.1.7
blivet-gui==2.1.12
bs4==0.0.1
chardet==3.0.4
click==7.1.1
cson==0.8
cupshelpers==1.0
dbus-python==1.2.8
decorator==4.4.0
distro==1.4.0
Flask==1.1.1
Flask-Cors==3.0.8
fros==1.1
gpg==1.13.1
gunicorn==19.9.0
humanize==0.5.1
idna==2.8
initial-setup==0.3.76
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
langtable==0.0.51
lazy-object-proxy==1.4.3
libcomps==0.1.14
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
ntplib==0.3.3
numpy==1.17.4
olefile==0.46
ordered-set==3.1
pid==2.2.3
Pillow==6.2.2
productmd==1.25
pwquality==1.4.2
pycairo==1.18.1
pycups==1.9.74
pycurl==7.43.0.2
pydbus==0.6.0
Pygments==2.4.2
PyGObject==3.34.0
pyinotify==0.9.6
pykickstart==3.21
pylint==2.4.4
pyparsing==2.4.0
pyparted==3.11.2
PyQt5==5.13.2
PyQt5-sip==4.19.19
PySocks==1.7.0
python-augeas==0.5.0
python-dateutil==2.8.0
python-meh==0.48
pytz==2019.2
pyudev==0.21.0
PyYAML==5.3.1
requests==2.22.0
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.15.1
selinux==2.9
sepolicy==1.1
setools==4.2.2
simpleline==1.6
six==1.12.0
slip==0.6.4
slip.dbus==0.6.4
sos==3.8
soupsieve==1.9.5
speg==0.3
systemd-python==234
typed-ast==1.4.1
urllib3==1.25.8
vboxapi==1.0
virtualenv==16.6.2
Werkzeug==1.0.0
wrapt==1.11.2
